.navbar {
    position: sticky; 
    top: 0; 
    background-color: #0E343E; 
    color: white; 
    z-index: 1000; 
    padding: 10px; 
  }
  
  .navbar-brand {
      color: #ffffff !important;
    }
  
    .navbar-nav .nav-item .nav-link {
        color: #ffffff !important; 
      }
  
    
      .container-fluid {
          padding-left: 15rem;
          padding-right: 0;
        }
        
        .navbar-nav {
          margin-left: 20rem; 
          color: rgb(240, 240, 240);
          margin-right: 0;  
        }
        
        
        .navbar-nav .nav-item {
          margin-right: 5rem; 
        }
  
        
  
  .navbar-nav .nav-item .nav-link {
      color: #ffffff !important; 
      transition: background-color 0.2s ease;
    }
    
    
    .navbar-nav .nav-item .nav-link:active {
      color: #f10000 !important; 
      background-color: #0beec8;  
    }
    
    body {
      background: linear-gradient(to right, #1B1931, #44174E, #662249, #A34054, #ED9E59, #9e6f6d);
  }
      header {
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px 0;
        margin-top: 59px;
        opacity: 0; 
        animation: fadeIn 2s ease-out forwards; 
      }
      
      
      @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
      }
      
      header h1 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        color: white;
        text-align: left;
        margin-left: 20px;
        margin-top: 5rem; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
      }
      
      header p {
        font-size: 2em;
        font-weight: 300;
        margin: 0;
        padding: 0;
        color: white;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 2rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
      
      .mission {
        margin-bottom: 3em;
        text-align: left; 
        padding: 40px 20px;
        opacity: 0; 
        transform: translateY(10px); 
        animation: fadeInUp 1s ease-out forwards; 
      }
      
      
      @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(10px); 
        }
        100% {
            opacity: 1;
            transform: translateY(0); 
        }
      }
      
      .mission h2 {
        font-size: 2.5em;
        font-weight: 700;
        color: white;
        text-align: left; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
      }

      .mission p {
        font-size: 2em;
        font-weight: 700;
        color: white;
        text-align: left; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
      }

      h2 {
        font-size: 2.5em;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    }
    
    .card {
        margin: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease; /* Added background-color and border transition */
        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 0.5s forwards;
        border-radius: 10px;
        cursor: pointer; 
      }
      
      .card:hover {
        transform: translateY(-5px); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
      }
      
      
      .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .navbar-brand {
        color: rgb(163, 163, 83) !important;  
        font-weight: bold !important; 
      }
      
      
      
      
      
      